// start: fixes to existing theme styles

// end: fixes to existing theme styles

.test{
  background: red;
}

.navbutton{
  font-weight: lighter;
  transition: all .3s ease-out;
}
.navbutton:hover{
  text-shadow: 2px 2px 3px #999;
}

.navbutton::after {
  color:black;
  font-weight:900;
  content: " |";
}

.bookimg{
 text-align:center; 
 width: 150px;
}
