/* start: fixes to existing theme styles */
header {
  text-align: center;
}
/* end: fixes to existing theme styles */

.test{
  background: red;
}
.navigation{
  text-align: center;
}

.navbutton{
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  transition: all .3s ease-out;
}
.navbutton:hover{
  text-shadow: 2px 2px 3px #999;
}

.navbutton::before, .navigation::after{
  color:black;
  font-weight:900;
  content: "| ";
}

.bookimg{
  display:block;
 margin: 0 auto; 
 width: 150px;
}
@media screen and (max-width: 600px) {
  .navigation{
    text-align: left;
    border: 1px solid #3333;
    border-radius: 5px;
    padding:10px;
  }
  .111navbutton{
    font-family:inherit;
  }
  .navbutton::after {
    content: "\a";
    white-space: pre;
  }
  .navigation::before{
    content:unset;
  }
  .pancake{
;
    background:#1114;
    padding: 5px;
    border-radius: 4px;
  }
  .pancake span{
    background:#111;
    border-radius:10px;
    display:block;
    height:4px;
    margin:0 0 5px;
    width:30px;
  }
}
