/* start: fixes to existing theme styles */
header {
  text-align: center;
}
/* end: fixes to existing theme styles */

.test{
  background: red;
}
.navigation{
  text-align: center;
}

.navbutton{
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  transition: all .3s ease-out;
}
.navbutton:hover{
  text-shadow: 2px 2px 3px #999;
}

.navbutton::after, navigation::before {
  color:black;
  font-weight:900;
  content: " |";
}

.bookimg{
  display:block;
 margin: 0 auto; 
 width: 150px;
}
@media screen and (max-width: 600px) {
  .navigation{
    text-align: left;
    border: 1px solid #3333;
    border-radius: 5px;
    padding:10px;
  }
  .navb5utton{
    font-family:inherit;
  }
  .navbutton::after {
    content: "\a";
    white-space: pre;
  }
  .navigation::before{
  content: "asdfasdf";
}
}
